{

}


h1{
    color: rgb(red, green, blue);

}
.Facebook{
    color: blue;
}
.food{
    background-color:chartreuse;
}
.colors{
    background-color: aquamarine;
}
.ABOUT ME{
    color: blue;
}
#sample{
background-color:rgb(249, 160, 160);
border-color:3px black(0,0,0 0.27) solid;
border:5px red solid;
}
.first
{
  border-style: dotted;
  margin: 10px 15px; 
  border-color: orange;
padding: 30px;
}
{
    
}