/* {

} */


h1{
    color: rgb(red, green, blue);

}
.Facebook{
    color: blue;
}
.food{
    background-color:chartreuse;
}
.colors{
    background-color: aquamarine;
}
.ABOUT ME{
    color: blue;
}
#sample{
background-color:rgb(249, 160, 160);
border-color:3px black(0,0,0 0.27) solid;
border:5px red solid;
}
.first
{
  border-style: dotted;
  margin: 10px 15px; 
  border-color: orange;
padding: 30px;
}
/* My flexbox properties */
/* .container{
       background-color: aqua;
} */
.childContainer{
    background-color: blueviolet;
    display:flex;
    /* flexbox direction; row-gap: ; */
    justify-content:space-between;
}
/* blue container */
.blue-container{
    border:30x blue solid;
    display: flex;
    flex-direction: row;
    justify-content: centre;
    align-items:center;
}
.flex-items{
    border:2px orangered solid;
    margin:5px;
    height:80px;
    width: 50px;
    
}
.mine{
    color: blue;
}
.image{
    width:30px
}
.last {
width: 30px; 
}

    /* border-radius;5px;
} */